#teste2 td {
  text-align: center;
  width: 5%;
  border: 1px solid;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 56px;
  padding-left: 0;
}

.layout-main {
  display: flex;
  min-height: calc(100vh - 52px);
  overflow: hidden;
}

.layout-content {
  flex: 1;
  padding-top: 10px;
}

.container {
  width: 75%;
  padding-top: 20px;
  padding-left: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

.sidebar .nav {
  margin-bottom: 0;
}

.sidebar .nav-item {
  width: 100%;
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar ul {
  list-style: none;
  padding: 10px 0;
}

.sidebar ul li a {
  display: block;
  color: #1a1a1a;
  padding: 10px 15px;
  white-space: nowrap;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1e94d2;
}

.layout-footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 50px;
  border-top: 1px solid #eeeeee;
}

.footer-copy {
  font-size: 92%;
  display: block;
  color: #777777;
  text-align: center;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 200;
}

.jumbotron .container {
  max-width: 80rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.modal .modal-body input,
.modal .modal-body textarea {
  border: 1px solid #e6e6e6;
  box-shadow: none;
}

.modal-header h4.modal-title {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.modal-body label {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.ui-autocomplete-loading {
  background: white url("/image/ui-anim_basic_16x16.gif") right center no-repeat;
}

.example-item {
  width: 100%;
  height: 150px;
}