<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head>
   
    <meta charset="UTF-8"/>
   
</head>
<body>

	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Grupo Muscular</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/gruposmusculares/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Grupo Muscular</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	            <form action="/gruposmusculares/salvar" method="POST">
	                   <div class="form-group col-md-6">
	                        <label for="nome">Nome</label>
	                        <input type="text" class="form-control" id="nome"
	                               placeholder="Nome Do Treino" autofocus="autofocus" field="*{nome}">
	                    </div>
	                      <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="exercicios">Exercicios</label>
	                        <select id="cargo" class="form-control" name="cargo">
	                            <option value="">Selecione...</option>
	                            <option value="1">Auxiliar Contábil</option>
	                            <option value="2">Auxiliar Administrativo</option>
	                            <option value="3">Contador</option>
	                            <option value="4">Adminitrador</option>
	                            <option value="5">Programado PHP</option>
	                            <option value="6">Desenvolvedor Java Jr.</option>
	                            <option value="7">Desenvolvedor Java Pleno</option>
	                            <option value="8">Desenvolvedor Java Senior</option>
	                            <option value="9">Auxiliar de RH</option>
	                            <option value="10">Coordenador de RH</option>
	                            <option value="11">Psicologo</option>
	                        </select>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <input type="hidden" id="id" name="id" value=""/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
	
	
	

</body>
</html>
